@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

:root {
  --font-mono:
    "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    "Roboto Mono", "Segoe UI Mono", monospace;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: var(--font-mono);
}
